*{
    font-family: 'Jost', sans-serif;
    box-sizing: border-box;
    margin-top: 0;
    padding: 0;
  
   
}

body{
   
   
    background-image:url(pic/bgpic.jpg) ;
    background-repeat: no-repeat;
    background-position: right center;
    background-attachment: fixed;
    background-origin: content-box;

}
 

.btndiv button{
    margin: 3px;
}

 li ,a ,button{
    font-family:'Jost', sans-serif ;
    font-weight: 500;
    font-size: 16px;
    color: aliceblue;
    text-decoration: none;
}   
header{
   width: 100%;
     height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
    background-color: rgb(50, 50, 169);
  
   
}

.logo{
    height: 60px;
    width: 60px;
    border-radius: 100px;
    cursor: pointer;
    float: right;
}
.nav_link{
    list-style: none;

}
.nav_link li{
    display: inline-block;
    padding: 0 20px;
}

.nav_link li a{
    transition: all 0.3 ease 0s;
}

.nav_link li a:hover{
   color: rgb(35, 129, 160);
   background-color: rgba(56, 170, 198, 0.1);
   font-size: 20px;
   

}

button{
    padding: 9px 15px;
    background-color: rgb(151, 90, 194);
    border: none;
    border-radius: 100px;
    transition: all 0.3 ease 0s;
    cursor: pointer;
  float: left;

}

button:hover{
 width:120px ;
 height: 60px;

}

h1{
    text-align: center;
    margin: 0 20px;
    color: rgb(76, 63, 120);
    margin-top: 50px;
}

.img{
 
    margin: 30px auto;
    width: 500px;
  
    object-fit: cover;
}
.img img{
    width: 500px;
    transition: all 0.3 ease 0s;
}

img:hover{
  filter: blur(10px);
}

p{
    font-size: 20px;
    color: rgb(105, 103, 106);
    text-align: center;
}
  .ifram{
    width: 500px;
    margin: 20px auto;
   
   
  }

 footer{
    width: 100%;
    height: 70px;
    margin: 5px;
   background-color:  rgb(50, 50, 169);
 }
 footer ul li{
    float: left;
    padding: 3px;
    margin: 15px;
    list-style-type: none;
 }
.footerlogo i{

    margin: 5px;
    margin-right: 10px;
    font-size: 30px;
    float: right;
   


 }


 













  

 
